body{
    margin: 0;
    padding: 0;
    font-family: "Maven Pro";
    font-style: normal;
    font-weight: normal;
    color: #793737;
    /*background: url(/assets/img_background.jpg);*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/img_background.jpg");

}

.cls::before{
    content: '';
    position: absolute;
    background-color:rgba(121, 55, 55, 0.6);
    top: 0;
    left: 25%;
    width: 75%;
    height: 100%;
}

body::before {
    content: '';
    position: absolute;
    background: rgba(91, 86, 86, 0.5);
    top: 0;
    left: -25%;
    width: 50%;
    height: 100%;
}

.form {
    position: absolute;
    background: #F2EDED;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .5);
    padding: 50px;
    box-sizing: border-box;
}

.form img{
    position: relative;
    margin-left: 100px;
}

.form p{
    position: relative;
    text-align: center;
}

.form .input-box{
    position: relative;
    margin: 20px 0;
}
.form .input-box input{
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #793737;
    outline: none;
    padding: 10px;
    padding-left: 25px;
    box-sizing: border-box;
    background: #F2EDED;
    font-weight: bold;
    color: #793737;
}
.form .input-box input:focus, 
.form .input-box input:valid{
    border-bottom: 1px solid #037abe;
}

.form .input-box .fa{
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 18px;
}

.form .input-box input[type="submit"]{
    border: none;
    cursor: pointer;
    background: #793737;
    font-weight: bold;
    transition: 0.5s;
    color: #F2EDED;
    text-align: center;
    align-items: center;
}

.form .input-box input[type="submit"]:hover{
    background: rgb(91, 86, 86);
}

.form a{
    text-decoration: none;
    color: rgb(91, 86, 86);
    /*margin-top: 20px;*/
    display: inline-block;
    transition: 0.5s;
    
}
.form a:hover{
    color: purple;
}